@import "tailwindcss";

@font-face {
  font-family: 'Serotiva';
  src: url('/serotiva/OpenType-PS/Serotiva-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Serotiva';
  src: url('/serotiva/OpenType-PS/Serotiva-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Serotiva';
  src: url('/serotiva/OpenType-PS/Serotiva-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Serotiva';
  src: url('/serotiva/OpenType-PS/Serotiva-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Serotiva';
  src: url('/serotiva/OpenType-PS/Serotiva-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary-green: #18C77E;
  --dark-green: #04644A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-green: var(--primary-green);
  --color-dark-green: var(--dark-green);
  --font-serotiva: "Serotiva", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Serotiva', sans-serif;
  overflow-x: hidden;
  font-weight: 400;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 40s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--dark-green);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-green);
}

button {
  cursor: pointer !important;
}

  .selection\:bg-primary-green::selection {
    background-color: var(--primary-green);
    color: white;
  }

  .main-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (min-width: 640px) {
    .main-container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  @media (min-width: 1024px) {
    .main-container {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }